@import url('https://fonts.googleapis.com/css?family=Fira+Code|Noto+Sans+JP|Titan+One&display=swap');
body {
    width: 80%;
    margin: auto;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.1fr 0.2fr 2.2fr;
    grid-template-areas: "header" "nav" "search" "main";
}
  
header { 
      grid-area: header;
      text-align: center; 
      display: flex;
      justify-content: center;
      align-items: center;
}
h1 {
    font-family: 'Titan One', cursive;
    font-size: 32px;
    margin-left: 3rem;
}
h2 {
    font-family: 'Noto Sans JP', sans-serif;
}
a {
    font-family: 'Noto Sans JP', sans-serif;
}
p {
    font-family: 'Fira Code', monospace;
}
.logo {
    width: 4rem;
    height: 4rem;
}
  
  nav { 
      grid-area: nav;
      display: flex;
      justify-content: space-around;
 }
  
  .search-section {
       grid-area: search;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       border: solid;
    }
  
  .main {
       grid-area: main;
       width: 60%; 
       border: solid;
       border-style: solid;
}

.paging-section {
    text-align: right;
}

  .single-pokemon-card {
      border: solid;
      text-align: center;
}

@media (min-width:960px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas: "header header header nav" "search pokidex pokidex pokidex";
      }
      
      .header { grid-area: header; }
      
      .nav { grid-area: nav; }
      
      .search-section { grid-area: search; }
      
      .single-pokemon-card { grid-area: pokidex; }
  }