@import url('https://fonts.googleapis.com/css?family=Fira+Code|Noto+Sans+JP|Titan+One&display=swap');
body {
    
    margin: auto;
    background-color: #FF0000;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.2fr 2.2fr;
    grid-template-areas: "header" "nav" "search" "main";
}
  
.header-section { 
      grid-area: header;
      text-align: center; 
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: aliceblue;
}
h1 {
    font-family: 'Titan One', cursive;
    font-size: 46px;
    margin-left: 3rem;
}
h2 {
    font-family: 'Fira Code', monospace;
}
input {
    font-family: 'Fira Code', monospace;
    border-radius: 35%;
    text-align: center;
}
a {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 15px;
}
p {
    font-family: 'Fira Code', monospace;
}
.logo {
    width: 4rem;
    height: 4rem;
}
select {
    font-family: 'Fira Code', monospace;
}
button {
    font-family: 'Fira Code', monospace;
    border-radius: 40%;
}
  
nav { 
      grid-area: nav;
      display: flex;
      justify-content: space-around;
      background-color: aliceblue;
 }
 ul {
     list-style: none;
 }
  
.search-form {
       grid-area: search;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background-color: #3B4CCA;
    }
  
.main {
       grid-area: main;
       width: 60%; 
       border: solid;
       border-style: solid;
}

.paging-section {
    text-align: right;
}

.single-pokemon-card {
      border: solid;
      text-align: center;
      background-color: whitesmoke;
      margin: 15px;
      box-shadow: 5px 10px black;
}
.pokemon-image {
    width: 30%;
}

@media (min-width:960px) {

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: .3fr 3fr;
        grid-template-areas: "header header header nav"
         "search main main main";
      }
      
    header { 
          grid-area: header; 
          display: flex;
        
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin: 10px;
    }
      
    nav { 
          grid-area: nav;
          display: flex;
          justify-content: space-around;
          align-items: center;
         }
    input {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    main {
        grid-area: main;
        border-top: solid;
    }
    .paging-section {
        text-align: right;
        margin: 10px;
    }
      
    .search-form {
         grid-area: search;
         display: flex;
         justify-content: flex-start;
         border-top: solid;
        
    }
    .search-section {
        background-color: #3B4CCA;
        border-right: solid;
    }
      
    .single-pokemon-card { 
        grid-area: pokidex;
        width: 40%;
        margin: 10px;
    }
}